.but{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-style: none;
    width: auto;
    font-size: 11pt;
    cursor: pointer;
}
.but:hover{
    background-color: rgb(69, 70, 131);
    color: white;
}