.BottomAddressEditContainer {
  border-radius: 8px;
  border: 2px solid rgb(126 123 128);
  font-family: Verdana, sans-serif;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding: 40px 110px 50px 110px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}
.AddressEditDetails {
  flex-direction: column;
  display: flex;
  width: 100%;
  row-gap: 20px;
  justify-content: space-around;
}
.FirstAddressFlex,
.SecondAddressFlex,
.ThirdAddressFlex {
  justify-content: center;
  align-items: center;
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  width: 100%;
}
.MoreDetailsContainerEdit {
  width: 50%;
}
.SaveProfileButton {
  background-image: linear-gradient(to right, #818181, #979a9c);
  border-radius: 25;
  align-self: center;
  border-radius: 25px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.SaveProfileButton:hover {
  background-image: linear-gradient(to right, #747171, #aaadaf);
  text-decoration: none;
}
.EditAddressInput {
  width: 200px;
}
.EditAddressTextArea {
  width: 100%;
  min-width: 150px;
  height: 70px;
}
@media screen and (max-width: 770px) {
  .AddressEditDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EditAddressInput {
    width: 150px;
  }
  .EditAddressTextArea {
    align-self: center;
  }
}
@media screen and (max-width: 570px) {
  .FirstAddressFlex,
  .SecondAddressFlex {
    flex-direction: column;
  }
  .ThirdAddressFlex {
    justify-content: flex-start;
  }
  .MoreDetailsContainerEdit {
    margin-left: 10px;
  }
}
