.TableOfContents{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.RowOfContents{
    flex: 0;
    display: flex;
    flex-direction: row;
}
.RowOfContents>h4{
    flex: 1;
    text-align: center;
}
.RowOfContents>div{
    flex: 1;
    text-align: center;
}