.BottomBiosEditContainer {
  width: 60%;
  border-radius: 8px;
  border: 2px solid rgb(126, 93, 162);
  font-family: Verdana, sans-serif;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding: 40px 110px 50px 110px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}
.BiosEditDetails {
  column-gap: 250px;
  display: flex;
  width: 100%;
  row-gap: 20px;
  justify-content: space-around;
}
.FirstFlex,
.SecondFlex {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.SaveProfileButton {
  background: #202550;
  background-image: linear-gradient(to right, #583d83, #7e5da2);
  -webkit-border-radius: 25;
  align-self: center;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.SaveProfileButton:hover {
  background: #4c25a8;
  background-image: linear-gradient(to right, #4c25a8, #7c36d1);
  text-decoration: none;
}
.EditBiosInput {
  width: 200px;
}
.EditBiosTextArea {
  width: 100%;
  min-width: 150px;
  height: 70px;
}
@media screen and (max-width: 770px) {
  .BiosEditDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .EditBiosInput {
    width: 150px;
  }
  .EditBiosTextArea {
    align-self: center;
  }
}
