.carousel {
  display: flex;
}
.title {
  width: 100%;
  text-align: center;
}
.detaillist {
  justify-self: center;
  text-align: center;
  align-self: center;
  list-style: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 37%;
  padding: 0;
  margin: 0;
}
.detaillist > li {
  margin: 0 0 15px 0;
}
.carousel-container {
  justify-content: center;
  padding: 10px 10px 5px 10px;
  border: 2px solid gray;
  background-color: white;
  width: 91%;
  border-radius: 15px;
}
.carousel-img {
  height: 120px;
  width: 160px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid rgb(191, 194, 194);
}
.carousels-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
@media screen and (max-width: 900px) {
  .carousels-container {
    flex-direction: column;
    row-gap: 10px;
  }
  .carousel-container {
    width: 100%;
  }
}
.carousel-control {
  background-image: linear-gradient(to right, #464343, #7b7e80);
  border-radius: 100%;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.carousel-control > i {
  color: #ffffff;
}
.carousel-control:hover {
  background-image: linear-gradient(to right, #5c5a5a, #939699);
  text-decoration: none;
}
.container-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
