.carousel{
    display: flex;
    margin: auto;
}
.carousel-container{
    justify-content: center;
    padding: 20px;
    border: 2px solid gray;
    background-color: white;
    margin: auto;
    width: 91%;
    border-radius: 15px;
}
.carousel-img{
    margin: auto;
    height: 100px;
}
.carousels-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media screen and (max-width: 570px) {
    .carousel-container{
        width:91%
    }
    .carousel-img{
        height:50px
    }
}
.carousel-control{
    background-image: linear-gradient(to right, #464343, #7b7e80);
    border-radius: 100%;
    padding: 7px 14px 7px 14px;
    text-decoration: none;
    margin: auto;
}
.carousel-control>i{
    color: #ffffff;
}
.carousel-control:hover {
    background-image: linear-gradient(to right, #5c5a5a, #939699);
    text-decoration: none;
}