.products {
}
.error {
  text-align: center;
}
.CategoryProductContainer {
  margin: 0px 50px 0px 50px;
  padding-top: 10px;
  display: flex;
  border-radius: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
