.ApplicationContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.ApplicationUnorderedList {
  list-style-type: none;
}
.InnerApplicationContainer {
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(126 123 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.ApplicationUnorderedList {
  padding: 10px;
}
.ApplicationViewButton {
  background-image: linear-gradient(to right, #818181, #979a9c);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
  margin-right: 10px;
}
.ApplicationViewButton:hover {
  background-image: linear-gradient(to right, #747171, #aaadaf);
  text-decoration: none;
}
