.navbar {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 1;
}
.logo_And_Search,
.menu__options {
  display: flex;
  align-items: center;
}
.logo_And_Search {
  flex: 2;
}
.menu__options {
  flex: 1;
}
.co {
  display: flex;
  align-items: center;
  background: rgb(104, 104, 104);
  color: white;
  width: 100%;
  column-gap: 20px;
  list-style: none;
}
.navbar__logo {
  width: 100px;
  margin: 0;
  cursor: pointer;
  margin-left: 20px;
}
.navbar__logo img {
  width: 100%;
}
.navbar a {
  text-decoration: none;
}
.navbar__toogle {
  display: none;
}
.navbar__link :hover {
  background-color: rgb(144, 145, 145);
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.navbar__link {
  width: 100%;
  flex: 1;
}
.userProfile {
  padding-right: 20px;
}
.userProfile img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: static;
  right: 2%;
}
.coll {
  display: none;
}
@media (max-width: 1000px) {
  .logo_And_Search {
    flex: 3;
  }
}
@media (max-width: 700px) {
  .navbar__toogle {
    display: block;
  }
  .co {
    flex-direction: column;
  }
  .menu__options {
    width: 100%;
    flex-direction: column;
  }
  .navbar__link {
    width: auto;
    margin-bottom: 15px;
  }
  .hide {
    display: none;
  }
  .coll {
    display: block;
  }
  .normal {
    display: none;
  }
}
.navbar__link button {
  color: white;
}
.navbar__link button {
  color: white;
}
i {
  color: white;
}
