.searchInputs {
    display: flex;
}
.search {
    flex: 1;
    align-items: center;
    width:60%;
    position: relative;
}
.search input {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 55%;
}

.searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #4c6086;
    align-items: center;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    width: 22px !important;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    position: absolute;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    width: 96%;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}