.ProfileHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  width: 100%;
  row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.ProfileImage {
  background-color: grey;
}
.ProfileImage:hover .fa-camera {
  visibility: visible;
}
.ProfileImage,
.UserImage {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.fa-camera {
  color: grey;
  visibility: hidden;
  z-index: 3;
  position: absolute;
  font-size: 25px;
  left: 47%;
  top: 16%;
}
.UserImage {
  left: 50%;
  z-index: 2;
}
.TopBiosContainer > * {
  /* background-image: linear-gradient(to bottom, #202550, #7e5da2);
  border-radius: 10px;
  padding: 7px 14px 7px 14px; */
  color: linear-gradient(to right, #202550, #7e5da2);
}
.GoToAdminPage {
  background-image: linear-gradient(to right, #818181, #979a9c);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.GoToAdminPage:hover {
  background-image: linear-gradient(to right, #747171, #aaadaf);
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .fa-camera {
    left: 45%;
    top: 16%;
  }
}
@media screen and (max-width: 600px) {
  .fa-camera {
    left: 48%;
    top: 28%;
  }
}
