.ProfileHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  width: 100%;
  row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.ProfileImage {
  background-color: grey;
  display: flex;
}
.ProfileImage,
.UserImage {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.UserImage {
  z-index: 2;
}
.TopBiosContainer > * {
  /* background-image: linear-gradient(to bottom, #202550, #7e5da2);
  border-radius: 10px;
  padding: 7px 14px 7px 14px; */
  color: linear-gradient(to right, #202550, #7e5da2);
}
