.OrderColumnContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.OrderColumnInfo{
    flex: 1;
}
.pimage{
    width:75px;
}