.cartProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
}
.buttonsContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
}
.hoemBut{
    margin:auto;
}
.Buttonn{
    height: 30px;
    border: none;
    background-color: rgb(37, 50, 107);
    border-radius: 15px;
    color: white;
    margin: auto;
}
.checkAndButtons{
    display: flex;
    flex-direction: column;
}