.CartViewPage {
  padding-top: 90px;
}
.cartProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(126 123 128);
  background-color: white;
}
.buttonsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5px;
}
.hoemBut {
  margin: auto;
}
.Buttonn {
  margin: auto;
  background-image: linear-gradient(to right, #818181, #979a9c);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.Buttonn:hover {
  background-image: linear-gradient(to right, #747171, #aaadaf);
  text-decoration: none;
}
.checkAndButtons {
  display: flex;
  flex-direction: column;
}
