.WishlistContainer {
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  border: 2px solid rgb(126 123 128);
  background-color: white;
}
.wishlistImages {
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.wishlist {
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  margin-bottom: -5px;
}
.WishListDetails {
  border-left: 1px solid grey;
  margin-left: 15px;
  margin-bottom: 10px;
}
.redirectToProduct {
  float: right;
  top: 0%;
  margin-left: auto;
  background-image: linear-gradient(to right, #464343, #7b7e80);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  height: 30px;
  width: 100px;
  text-decoration: none;
}
.redirectToProduct:hover {
  background-image: linear-gradient(to right, #5c5a5a, #939699);
  text-decoration: none;
}
