.nav{
    background: linear-gradient(50deg,rgb(34, 77, 124),rgb(22, 31, 71));
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width : 100%;
    background-color: transparent;
}
.optionList{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 5%;
    margin:0;
    padding-left: 0;
    background-color: transparent;
}
.prof{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: 1%;
}
.option{
    justify-content: left;
    padding: 10px;
    background-color: transparent;
}
.logo{
    padding-left: 5%;
    justify-content: flex-start;
    cursor: pointer;
    background-color: transparent;
}
.search{
    font-size: large;
    color: rgb(53, 53, 53);
    border-radius:15px;
    border-style: none;
    width: 75%;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
}
.search-ion{
    color: black;
}
.box{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
@media screen and (max-width: 787PX) {
    .navbar{
        display: none;
    }
}
@media screen and (min-width: 788PX) {
    .collapsed{
        display: none;
    }
}