.detail{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid #7e7b80;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 150%;
    background-color: white;
}
.detail img{
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: uppercase;
    color: rgb(105, 103, 103);
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
.cart{
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(70, 67, 67);
    color: darkgrey;
    border-style: none;
    width: 100px;
    height: 53px;
    font-size: 11pt;
    cursor: pointer;
    align-items: center;
  }
.cart:hover{
    background-color:  #7e7b80;
    color: white;
}