.AddProductButton {
  background-image: linear-gradient(to right, #818181, #979a9c);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}

.AddProductButton:hover {
  background-image: linear-gradient(to right, #747171, #aaadaf);
  text-decoration: none;
}
.WishlistTitle {
  margin-bottom: 2px;
}
