/* .BiosInfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
} */
.TopBiosContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
  font-size: large;
}

.BottomBiosContainer {
  border-radius: 8px;
  border: 2px solid rgb(126 123 128);
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  padding: 20px 10px 20px 10px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}
.BiosDetails {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.BiosDetails > * {
  /*test  */
}
.EditProfileButton {
  background-image: linear-gradient(to right, #6e6b6b, #8c8d8f);
  border-radius: 25px;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}

.EditProfileButton:hover {
  background-image: linear-gradient(to right, #5c5a5a, #939699);
  text-decoration: none;
}
